body {
	background-color: #2980b9;
	font-family:"Aleo", "Helvetica Neue Light", "Helvetica Neue", Arial;
	color: white;
}

h1 {
	margin: 0;
	font-size: 35px;
}

h2 {
	margin-top: 5px;
	font-size: 20px;
	font-weight: normal;
}

#container {
	position: absolute;
	width: 600px;
	height: 537px;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#profile-img {
	margin-bottom: 50px;
	border-radius: 55px;
}

.h-separator {
	height: 1px;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: white;
}

#about {
	font-weight: normal;
}

a:link {
	color: #35E970;
}

a:visited {
	color: #35E970;
}