body {
	margin:0;
	padding:0;
	background-color:#359CD6;
	font-family:"Aleo", "Helvetica Neue Light", "Helvetica Neue", Arial;
}

.default-section {
	padding-left:21%;
}

#top-header {
	padding-top:40px;
	background-color:#FFA335;
	height:230px;
	color:white;
}

#projectimages {
	height:460px;
	margin:0 auto;
	width:800px;
	padding:0px;
}

#projectimagescontainer {
	margin:0;
	padding-top:20px;
	color:white;
}

.project-name-text {
	text-align: center;
	color:white;
}

.single-project-image-container {

}

.projectimage {
	width:225px;
	border-radius: 7px;
}

a {
	color: white;
}

h1 {
	font-size: 40px;
	padding-bottom: 0px;
}

h2 {
	font-size: 27px;
}

h3 {
	text-align:center;
	font-size: 40px;
	margin-top:0px;
}

h4 {
	text-align:center;
	color:white;

}

ul {
	margin:0;
	padding:0;
}

li {
	display:inline-block;
	margin-right:20px;
}