body {
	background-color: #ffffff;
	font-family: "Noto Sans", "Helvetica Neue Light", "Helvetica Neue", Arial;
	color: black;
}

h1 {
	margin: 0;
	font-size: 50px;
}

h2 {
	margin: 0;
	font-size: 22px;
	font-weight: normal;
}

h3 {
	font-size: 22px;
	font-weight: strong;
	margin: 0;
}

p {
	margin-top: 7px;
}

#container {
	width: 620px;
	height: auto;
	margin: 50px auto 20px auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.section-content {
	margin: 0 0 20px 0;
}

#content {
	margin-bottom: 20px;
}

#header {
	overflow: auto;
	margin-bottom: 20px;
}

#header-text {
    display: inline-block;
	overflow: auto;
	margin-left: 45px;
	vertical-align: middle;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

#profile-img {
    display: inline-block;
	border-radius: 50%;
	vertical-align: middle;
}

#about {
	font-weight: normal;
}

a:link {
	color: #4183D7;
}